
.center-text {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

body {
    margin: 0 auto;
    padding: 10px;
}

.btn {
    padding: 5px;
    margin: 10px;
}