
.center-text {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

body {
    margin: 0 auto;
    padding: 10px;
}

.btn {
    padding: 5px;
    margin: 10px;
}

.dataTable {
    width: 75%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.dataTable thead tr, .dataTable th {
    background-color: #A9A9A9FF;
    color: #FFF;
    padding: 5px;
}

.dataTable tbody tr:nth-child(odd) {
    background-color: #FFF;
}

.dataTable tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

.dataTable td {
    padding: 8px;
    border: 1px solid #ccc;
}

.form-group {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group label {
    text-align: right;
    min-width: 100px;
}

.links {
    text-decoration: none;
    color: inherit;

}